<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wz.mapper.primary.UserMapper">
  <resultMap id="BaseResultMap" type="com.wz.model.User" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
  </resultMap>

  <select id="queryByPrimaryKey" resultMap="BaseResultMap">
    select id,name,age from user where id = #{id}
  </select>

  <select id="queryByUserName" resultMap="BaseResultMap">
    select id,name,age from user where name = #{name}
  </select>
</mapper>